# MongoDB Connection String
# Replace this with your MongoDB Atlas connection string (or local string)
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.example.mongodb.net/?retryWrites=true&w=majority

# MongoDB Database Name
DB_NAME=sjc_sports_day